/* Homepage Content */

html, body, footer {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.header-bg-img {
    background-image: url("../images/header-home.png");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#grid {
    display: grid;
    grid-template-columns: 150px 1300px
}
.container {
    width: 100% auto;
    height: 400px;
    justify-content: space-between;
    align-content: space-between;
}
.kmtc-logo {
    padding: 30px;
}
.nps-logo {
    padding: 30px;
}
.top-nav {
    overflow: hidden;
    background-color: transparent;
    float: right;
    vertical-align: top;
    margin-top: 20px;
    margin-right: 25px;
    width: 800px;
}
.top-nav a {
    float: left;
    color: #2C4B1D;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1px;
}
.dropdown {
    float: left;
    overflow: hidden;
    margin-right: 40px;
}
.dropdown .dropbtn {
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(51,159,43,0.8);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {
    background-color: rgba(51,159,43,0.4);
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }