/* Homepage Content */

html, body, footer {
    margin: 0;
    padding: 0;
}
.header-bg-img {
    background-image: url("../assets/header-about.png");
    height: 769px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.container {
    width: 100% auto;
}
.topnav {
    overflow: hidden;
    background-color: transparent;
    float: right;
    margin-top: 50px;
    margin-right: 25px;
}
.topnav a {
    float: left;
    color: #2C4B1D;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
}
.dropdown {
    float: left;
    overflow: hidden;    
}
.dropdown .dropbtn {
    font-size: 14px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn {
    border-top: 1px;
    border-top-color: #CC8A19;
}