/* Homepage Content */

html, body, footer {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
body {
    font-family: 'Roboto', sans-serif;
}
.header-bg-img {
    background-image: url("../images/header-home.png");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#grid {
    display: grid;
    grid-template-columns: 200px 880px
}
.container {
    width: 100% auto;
    height: 400px;
    justify-content: space-between;
    align-content: space-between;
}
.kmtc-logo {
    padding: 30px;
}
.nps-logo {
    padding: 30px;
    margin: auto;
}
.top-nav {
    overflow: hidden;
    background-color: transparent;
    float: right;
    vertical-align: top;
    margin-top: 70px;
    margin-right: 25px;
    width: 850px;
}
.top-nav a {
    float: left;
    color: #2C4B1D;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1px;
}
.dropdown {
    float: left;
    overflow: hidden;
    margin-right: 40px;
}
.dropdown .dropbtn {
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(44,75,29,0.8);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 44px;
    margin-left: 16px;
  }
.dropdown-content a {
    float: none;
    font-size: 14px;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    }
.dropdown-content a:hover {
    background-color: rgba(51,159,43,0.7);
  }
.dropdown:hover .dropdown-content {
    display: block;
  }
.covid-banner {
    background-color: rgb(60,36,141);
    color: white;
    height: 50px;
    font-family: inherit;
    font-size: 18px;
    text-align: center;
    padding: 5px 10px 10px 10px;
    margin: 0;
  }
.covid-banner a {
    color: white;
    text-decoration: none;
  }
.covid-banner a:hover {
      color: rgb(204, 138, 25);
  }
.hero-info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 260px;
    margin: 0;
    padding: 0;
  }
.hiking-tips {
    background-image: url(../images/hiking-tips-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px 200px 0px 50px;
    color: rgb(204, 138, 25);
    font: 'Roboto-Medium';
    font-size: 30px;
    text-align: left;
  }
.volunteer {
    background-image: url(../images/volunteer-bg-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    font: 'Roboto-Medium';
    text-align: center;
    line-height: 46px;
}
.volunteer h2 {
    font-size: 46px;
    padding-top: 24px;
    margin-bottom: 20px;
    font-weight: 300;
}
.volunteer h1 {
    font-size: 84px;
    font-weight: 900;
    margin: 0px;
}
.trail-workdays {
    background-image: url(../images/work-day-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 50px 0px 20px;
    text-align: right;
  }
.trail-workdays h2 {
    font-size: 46px;
    font-weight: 700;
    color: rgb(204, 138, 25);
    margin-bottom: 10px;
}
.trail-workdays h3 {
    font-size: 28px;
    font-weight: 400;
    color: white;
    margin-top: 0px;
    padding-left: 200px;
}
.about-workdays, .mission-statement {
    display: grid;
    grid-template-columns: 700px 700px;
    padding: 40px 0px 40px 0px;
  }
.trail-days-title h3, .mission-statement h3 {
    font-size: 28px;
    font-weight: 300;
    padding: 14px 0px 0px 50px;
    margin: 0px;
}
.trail-days-title h1, .mission-statement h1 {
    font-size: 50px;
    font-weight: 700;
    color: rgb(204, 138, 25);
    padding: 4px 0px 0px 50px;
    margin: 0px;
}
#trail-days-p {
    font-size: 18px;
    line-height: 24px;
    line-break: normal;
    padding: 0px 20px 0px 20px;
}
footer {
    display: grid;
    grid-template-columns: 1216px 124px;
    background-color: rgb(190, 183, 150);
    padding: 40px 0px 50px 50px;
}
.footer-content {
    font-size: 20px;
    font-weight: 400;
    color: rgb(44,75,29);
    line-height: 24px;
}
.footer-content p {
    line-height: 6px;
}
.footer-nav {
    padding-top: 30px;
}
.footer-nav a:link {
    font-size: 17px;
    color: inherit;
    font-weight: 500;
    text-decoration: none;
    padding-right: 15px;
}
.footer-nav a:hover, a:active{
    color: rgb(51,159,43);
}
.social {
    margin-top: 10px;
}
#icons a {
    padding: 10px;
}

/* About Us - CSS */

#mission-statement-p, li {
    font-size: 18px;
    line-height: 24px;
    line-break: normal;
    padding: 0px 20px 0px 20px;
}
.the-board {
    background-image: url(../images/meet-the-board-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    font-size: 60px;
    color: rgb(190, 183, 150);
    font-weight: 400;
    text-align: right;
    vertical-align: middle;
    margin: 0px;
    padding-right: 50px;
  }